  /*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light, .page:has(.header__theme-menu-button_type_light:hover:not(.header__theme-menu-button_active)) {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

    /* decoration color */

  --decor-line: #000028;

    /* color fonts */

  --global-color: #353430;
  --primery-color: #353430;
  --accent-color: #353430;
  --primery-accent-color: #ffc2e6;

    /* color background */

  --bg-global-color: #fff1f7;
  --bg-accent-color: #FF8DCB;

    /* color border */

  --bd-hover-color: rgba(50, 49, 45, 0.4); 

    /* color box-shadow */

  --sh-accent-color: #ff0070;

    /* color text-shadow */

  --tx-sh-accent-color: #ff8dcb;

    /* background images */

  background-image: url("../images/cover-image-light.png");

    /* opacity */

  --opacity: 0;
}

@media (prefers-color-scheme: light) {

  .page {
    
    /* decoration color */

  --decor-line: #000028;

    /* color fonts */

  --global-color: #353430;
  --primery-color: #353430;
  --accent-color: #353430;
  --primery-accent-color: #ffc2e6;

    /* color background */

  --bg-global-color: #fff1f7;
  --bg-accent-color: #FF8DCB;

    /* color border */

  --bd-hover-color: rgba(50, 49, 45, 0.4); 

    /* color box-shadow */

  --sh-accent-color: #ff0070;

    /* color text-shadow */

  --tx-sh-accent-color: #ff0070;

    /* background images */

  background-image: url("../images/cover-image-light.png");

    /* opacity */

  --opacity: 0;

  }
}
